@model IEnumerable<Fiap.Web.AspNet3.Models.RepresentanteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark btn-sm" asp-action="Novo">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeRepresentante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRepresentante)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.RepresentanteId">Detalhes</a>
                <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@item.RepresentanteId">Editar</a>                
                <a class="btn btn-danger btn-sm" asp-action="Deletar" asp-route-id="@item.RepresentanteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
