@model IEnumerable<Fiap.Web.AspNet3.Models.ClienteModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Novo">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentanteId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepresentanteId),
                @Html.DisplayFor(modelItem => item.Representante.NomeRepresentante)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Detalhe" asp-route-id="@item.ClienteId">Detalhe</a>
                <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@item.ClienteId">Editar</a>                
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ClienteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
