@model IEnumerable<Fiap.Web.AspNet3.Models.GerenteModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Gerentes</h1>
            
            <p class="toolbar">
                <a class="btn btn-dark btn-sm" asp-controller="Gerente" asp-action="Novo">Novo Gerente</a>
            </p>
            <table class="table table-striped" border="1" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="name">Nome</th>
                        <th data-field="name">Sobrenome</th>
                        <th class="actions" width="220">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var gerente in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => gerente.GerenteId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => gerente.NomeGerente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => gerente.Sobrenome)
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-action="Detalhe" asp-route-id="@gerente.GerenteId">Detalhes</a>
                                <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@gerente.GerenteId">Editar</a>                                
                                <a class="btn btn-danger btn-sm" asp-action="Deletar" asp-route-id="@gerente.GerenteId">Deletar</a>
                            </td>
                        </tr>
                    }                              
                </tbody>
            </table>
        </div>
    </div>
</div>
